<mat-card *ngIf="customer">
  <mat-card-header>
      <mat-card-header>Name: {{customer.name}}</mat-card-header>
      <mat-card-subtitle>Age: {{customer.age}}</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content>
        <label>Active: {{customer.active}}</label>
        <div class="button-row">
            <button mat-raised-button *ngIf="customer.active" color="accent">Innactive</button>
            <button mat-raised-button *ngIf="!customer.active" color="primary">Active</button>
            <button mat-raised-button (click)="deleteCustomer()" color="warn">Delete</button>
        </div>
    </mat-card-content>
</mat-card>